@font-face {
    font-family: "Lazer84";
    src: url("/fonts/lazer84.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "League Spartan Variable";
    src: url("/fonts/LeagueSpartanVariable.woff2") format("woff2-variations");
    font-weight: 200 900;
    font-display: swap;
}

@font-face {
    font-family: "Pridi";
    src: url("/fonts/Pridi-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Pridi";
    src: url("/fonts/Pridi-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Pridi";
    src: url("/fonts/Pridi-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
