---
import CardProject from "@components/Cards/CardProject.astro";
import { type ProjectCollectionKey } from "@data/projectCollections";
import { getCollection } from "astro:content";

interface Props {
    collection: ProjectCollectionKey;
    limit?: number;
}

const { collection, limit } = Astro.props;

const allProjects = await getCollection(collection, ({ data }) => {
    return import.meta.env.PROD ? data.draft !== true : true;
});

const sortedProjects = allProjects.sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const displayedProjects = limit
    ? sortedProjects.slice(0, limit)
    : sortedProjects;
---

<section class="auto-grid">
    {
        displayedProjects.map((project) => (
            <CardProject project={project} collectionKey={collection} />
        ))
    }
</section>
