---
import experienceData from "./data/experience.json";
import ResumeExperienceItem from "./ResumeExperienceItem.astro";
---

<section class="experience">
    <h2 class="experience__title">I. Professional Experience</h2>
    {experienceData.map((company) => <ResumeExperienceItem {...company} />)}
</section>

<style>
    .experience__title {
        text-transform: uppercase;
    }

    @media print {
        .experience__title {
            font-size: var(--font-size-h2);
        }
    }
</style>
