---
import ResumeHeader from "./ResumeHeader.astro";
import ResumeExperience from "./ResumeExperience.astro";
import ResumeEducation from "./ResumeEducation.astro";
---

<div class="resume">
    <ResumeHeader
        name="W. Brett Egbert"
        location="Washington, USA"
        email="w.brett.egbert@gmail.com"
        website="crossinguard.dev"
        description="An educator obsessed with the belief that things worth knowing should not be miserable to learn, continuously upskilling into the overlapping Venn diagram of education, assessment, and data analytics."
    />
    <ResumeExperience />
    <ResumeEducation />
</div>
