---
import PageLayout from "@layouts/PageLayout.astro";
import VisitorsGuide from "@components/VisitorsGuide/VisitorsGuide.astro";
---

<PageLayout pageID="home" showHeader={false}>
    <Fragment slot="before-content">
        <h1 class="title">Welcome Home</h1>
    </Fragment>
    <VisitorsGuide />
</PageLayout>

<style>
    .title {
        text-align: center;
    }
</style>
