---
import "../styles/resume-print.css";
import SiteLayout from "@layouts/SiteLayout.astro";
import CurrentResume from "@components/Resume/Resume.astro";

const title = "Resume";
const description = "Current professional resume for W. Brett Egbert.";
---

<SiteLayout title={title} description={description}>
    <div class="wrapper">
        <CurrentResume />
    </div>
</SiteLayout>
