# Use DecapBridge classic auth (required)
backend:
  name: git-gateway
  repo: crossinguard/crossinguard-dev
  branch: main
  identity_url: https://auth.decapbridge.com/sites/72ffc87e-ca50-45fe-8138-8a1b1db3e3d9
  gateway_url: https://gateway.decapbridge.com

  # See who did what (optional)
  commit_messages:
    create: Create {{collection}} “{{slug}}” - {{author-name}} <{{author-login}}> via DecapBridge
    update: Update {{collection}} “{{slug}}” - {{author-name}} <{{author-login}}> via DecapBridge
    delete: Delete {{collection}} “{{slug}}” - {{author-name}} <{{author-login}}> via DecapBridge
    uploadMedia: Upload “{{path}}” - {{author-name}} <{{author-login}}> via DecapBridge
    deleteMedia: Delete “{{path}}” - {{author-name}} <{{author-login}}> via DecapBridge
    openAuthoring: Message {{message}} - {{author-name}} <{{author-login}}> via DecapBridge

# Better Decap + Bridge logo (optional)
logo_url: https://decapbridge.com/decapcms-with-bridge.svg

# Add site links in Decap CMS (optional)
site_url: https://crossinguard.dev

publish_mode: editorial_workflow

media_folder: "src/assets/posts"
public_folder: "@assets/posts"

collections:
  - name: "posts"
    label: "Posts"
    folder: "src/content/posts"
    create: true
    slug: "{{slug}}"
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Description", name: "description", widget: "string" }
      - { label: "Publish Date", name: "pubDate", widget: "datetime" }
      - {
          label: "Updated Date",
          name: "updatedDate",
          widget: "datetime",
          required: false,
        }
      - {
          label: "Cover Image",
          name: "image",
          widget: "image",
          required: false,
        }
      - {
          label: "Image Caption",
          name: "imageAlt",
          widget: "string",
          required: false,
        }
      - { label: "Tags", name: "tags", widget: "list", required: false }
      - {
          label: "Is the post a draft?",
          name: "isDraft",
          widget: "boolean",
          default: false,
        }
      - {
          label: "Should the post be featured?",
          name: "isFeatured",
          widget: "boolean",
          default: false,
        }
      - { label: "Body", name: "body", widget: "markdown" }
