---
import "../styles/global.css";
import SiteHead from "@components/SiteHead/SiteHead.astro";
import SiteHeader from "@components/SiteHeader/SiteHeader.astro";
import SiteFooter from "@components/SiteFooter/SiteFooter.astro";

interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<html lang="en">
    <SiteHead title={title} description={description} />
    <body>
        <SiteHeader />
        <main id="main-content" tabindex="-1" class="wrapper flow">
            <slot />
        </main>
        <SiteFooter />
    </body>
</html>
