---
// import "../styles/global.css";
import SiteHead from "@components/SiteHead/SiteHead.astro";
import SiteHeader from "@components/SiteHeader/SiteHeader.astro";
import SiteFooter from "@components/SiteFooter/SiteFooter.astro";

interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<html lang="en">
    <SiteHead title={title} description={description} />
    <body>
        <SiteHeader />
        <main id="main-content">
            <slot />
        </main>
        <SiteFooter />
    </body>
</html>

<style is:global>
    @layer reset, theme, fluid, global, composition, utility;

    @layer reset {
        /*
          Josh's Custom CSS Reset
          https://www.joshwcomeau.com/css/custom-css-reset/
        */

        *,
        *::before,
        *::after {
            box-sizing: border-box;
        }

        *:not(dialog) {
            margin: 0;
        }

        @media (prefers-reduced-motion: no-preference) {
            html {
                interpolate-size: allow-keywords;
            }
        }

        body {
            line-height: 1.5;
            -webkit-font-smoothing: antialiased;
        }

        img,
        picture,
        video,
        canvas,
        svg {
            display: block;
            max-width: 100%;
        }

        input,
        button,
        textarea,
        select {
            font: inherit;
        }

        p,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            overflow-wrap: break-word;
        }

        p {
            text-wrap: pretty;
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            text-wrap: balance;
        }

        #root,
        #__next {
            isolation: isolate;
        }
    }

    @layer theme {
        @font-face {
            font-family: "Lazer84";
            src: url("/fonts/lazer84.woff2") format("woff2");
            font-weight: normal;
            font-style: normal;
            font-display: swap;
        }

        @font-face {
            font-family: "League Spartan Variable";
            src: url("/fonts/LeagueSpartanVariable.woff2")
                format("woff2-variations");
            font-weight: 200 900;
            font-display: swap;
        }

        @font-face {
            font-family: "Pridi";
            src: url("/fonts/Pridi-Medium.woff2") format("woff2");
            font-weight: 500;
            font-style: normal;
            font-display: swap;
        }

        @font-face {
            font-family: "Pridi";
            src: url("/fonts/Pridi-SemiBold.woff2") format("woff2");
            font-weight: 600;
            font-style: normal;
            font-display: swap;
        }

        @font-face {
            font-family: "Pridi";
            src: url("/fonts/Pridi-Bold.woff2") format("woff2");
            font-weight: bold;
            font-style: normal;
            font-display: swap;
        }

        :root {
            /* FONT FAMILIES */
            --font-family-heading: "Pridi", serif;
            --font-family-body: "League Spartan Variable", sans-serif;
            --font-family-accent: "Lazer84", monospace;
            --font-family-mono: monospace;

            /* COLOR THEME */
            --color-light: #f9f3eb; /* var(--color-white-linen-50) */
            --color-light-shade: #f5ecdf; /* var(--color-white-linen-100) */
            --color-dark: #02001a; /* var(--color-ebony-950) */
            --color-primary: #0ba4ae; /* var(--color-pelorous-600) */
            --color-primary-shade: #10848e; /* var(--color-pelorous-700) */
            --color-secondary: #67df82; /* var(--color-pastel-green-400) */
            --color-tertiary: #e1f0c9; /* var(--color-beryl-green-100) */
            --color-pop: #ff7139; /* var(--color-burning-orange-400) */

            /* DYNAMIC COLOR THEME */
            --color-base: tomato;
        }
    }

    @layer fluid {
        :root {
            /* FLUID TYPE SCALE */
            /* @link https://utopia.fyi/type/calculator?c=360,18,1.2,1240,20,1.25,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
            /* Step -2: 12.5px → 12.8px */
            --size--2: clamp(0.7813rem, 0.7736rem + 0.0341vw, 0.8rem);
            /* Step -1: 15px → 16px */
            --size--1: clamp(0.9375rem, 0.9119rem + 0.1136vw, 1rem);
            /* Step 0: 18px → 20px */
            --size-0: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
            /* Step 1: 21.6px → 25px */
            --size-1: clamp(1.35rem, 1.2631rem + 0.3864vw, 1.5625rem);
            /* Step 2: 25.92px → 31.25px */
            --size-2: clamp(1.62rem, 1.4837rem + 0.6057vw, 1.9531rem);
            /* Step 3: 31.104px → 39.0625px */
            --size-3: clamp(1.944rem, 1.7405rem + 0.9044vw, 2.4414rem);
            /* Step 4: 37.3248px → 48.8281px */
            --size-4: clamp(2.3328rem, 2.0387rem + 1.3072vw, 3.0518rem);
            /* Step 5: 44.7898px → 61.0352px */
            --size-5: clamp(2.7994rem, 2.384rem + 1.8461vw, 3.8147rem);
            /* Step 6: 53.7477px → 76.2939px */
            --size-6: clamp(3.3592rem, 2.7828rem + 2.5621vw, 4.7684rem);

            /* FLUID SPACE */
            /* @link https://utopia.fyi/space/calculator?c=360,18,1.2,1240,20,1.25,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l|3xs-s&g=s,l,xl,12 */
            /* Space 3xs: 5px → 5px */
            --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
            /* Space 2xs: 9px → 10px */
            --space-2xs: clamp(0.5625rem, 0.5369rem + 0.1136vw, 0.625rem);
            /* Space xs: 14px → 15px */
            --space-xs: clamp(0.875rem, 0.8494rem + 0.1136vw, 0.9375rem);
            /* Space s: 18px → 20px */
            --space-s: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
            /* Space m: 27px → 30px */
            --space-m: clamp(1.6875rem, 1.6108rem + 0.3409vw, 1.875rem);
            /* Space l: 36px → 40px */
            --space-l: clamp(2.25rem, 2.1477rem + 0.4545vw, 2.5rem);
            /* Space xl: 54px → 60px */
            --space-xl: clamp(3.375rem, 3.2216rem + 0.6818vw, 3.75rem);
            /* Space 2xl: 72px → 80px */
            --space-2xl: clamp(4.5rem, 4.2955rem + 0.9091vw, 5rem);
            /* Space 3xl: 108px → 120px */
            --space-3xl: clamp(6.75rem, 6.4432rem + 1.3636vw, 7.5rem);

            /* One-up pairs */
            /* Space 3xs-2xs: 5px → 10px */
            --space-3xs-2xs: clamp(0.3125rem, 0.1847rem + 0.5682vw, 0.625rem);
            /* Space 2xs-xs: 9px → 15px */
            --space-2xs-xs: clamp(0.5625rem, 0.4091rem + 0.6818vw, 0.9375rem);
            /* Space xs-s: 14px → 20px */
            --space-xs-s: clamp(0.875rem, 0.7216rem + 0.6818vw, 1.25rem);
            /* Space s-m: 18px → 30px */
            --space-s-m: clamp(1.125rem, 0.8182rem + 1.3636vw, 1.875rem);
            /* Space m-l: 27px → 40px */
            --space-m-l: clamp(1.6875rem, 1.3551rem + 1.4773vw, 2.5rem);
            /* Space l-xl: 36px → 60px */
            --space-l-xl: clamp(2.25rem, 1.6364rem + 2.7273vw, 3.75rem);
            /* Space xl-2xl: 54px → 80px */
            --space-xl-2xl: clamp(3.375rem, 2.7102rem + 2.9545vw, 5rem);
            /* Space 2xl-3xl: 72px → 120px */
            --space-2xl-3xl: clamp(4.5rem, 3.2727rem + 5.4545vw, 7.5rem);

            /* Custom pairs */
            /* Space s-l: 18px → 40px */
            --space-s-l: clamp(1.125rem, 0.5625rem + 2.5vw, 2.5rem);
            /* Space 3xs-s: 5px → 20px */
            --space-3xs-s: clamp(0.3125rem, -0.071rem + 1.7045vw, 1.25rem);
        }
    }

    @layer global {
        body {
            background-color: var(--color-light);
            color: var(--color-dark);
            font-family: var(--font-family-body);
            font-weight: 375;
            font-style: normal;
            font-size: var(--size-0);
            min-height: 100dvh;
            display: flex;
            flex-direction: column;
        }

        main {
            flex-grow: 1;
        }

        h1,
        h2 {
            font-family: var(--font-family-heading);
            line-height: 1.2;
        }

        h1 {
            color: var(--color-primary-shade);
            font-size: var(--size-6);
        }

        h2 {
            color: var(--color-primary);
            font-size: var(--size-4);
        }

        h3,
        h4,
        h5,
        h6 {
            font-weight: 500;
        }

        h3 {
            font-size: var(--size-3);
        }

        h4 {
            font-size: var(--size-2);
        }

        h5 {
            font-size: var(--size-1);
        }

        h6 {
            font-size: var(--size-0);
        }

        p {
            font-size: var(--size-0);

            &.small {
                font-size: var(--size--1);
            }

            &.medium {
                font-size: var(--size-1);
            }

            &.large {
                font-size: var(--size-2);
            }
        }

        a {
            color: currentColor;
            text-decoration-color: var(--color-primary);
            text-decoration-thickness: 3px;
            transition: color 0.2s ease-in-out;

            &:hover {
                color: var(--color-primary-shade);
            }
        }

        :focus:not(main) {
            outline: 2px dotted currentColor;
            outline-offset: var(--space-3xs);
        }
    }

    @layer composition {
        .wrapper {
            width: min(calc(100% - var(--space-m-l)), calc(1240 / 16 * 1rem));
            margin-inline: auto;
            padding-block: var(--space-m-l);
        }

        .stack {
            display: grid;
            gap: var(--stack-gap, 1rem);
            align-content: var(--stack-alignment, start);
            justify-items: var(--stack-justification, start);
            > * {
                margin-block: 0;
            }
        }

        .pile {
            display: grid;
            place-content: center;
            grid-template-areas: "pile";
            > * {
                grid-area: pile;
            }
        }

        .group {
            display: flex;
            flex-wrap: var(--group-wrap, wrap);
            align-items: var(--group-alignment, center);
            justify-content: var(--group-justification, start);
            gap: var(--group-gap, var(--group-row-gap, var(--space-s)))
                var(--group-gap, var(--group-column-gap, var(--space-m)));
        }

        .apart {
            display: flex;
            align-items: var(--apart-alignment, center);
            justify-content: var(--apart-justification, space-between);
            flex-wrap: var(--apart-wrap, wrap);
            gap: var(--apart-gap, var(--apart-row-gap, var(--space-s)))
                var(--apart-gap, var(--apart-column-gap, var(--space-m)));
        }

        .auto-grid {
            display: grid;
            gap: var(--auto-grid-gap, var(--space-m));
            grid-template-columns: repeat(
                var(--auto-grid-repeat, auto-fit),
                minmax(
                    var(
                        --auto-grid-min-width,
                        min(var(--auto-grid-min-col-size, 320px), 100%)
                    ),
                    1fr
                )
            );
        }

        .prose > * + * {
            margin-block-start: var(--prose-spacing, 1em);
        }
    }

    @layer utility {
        .visually-hidden {
            position: absolute;
            left: -10000px;
            top: auto;
            width: 1px;
            height: 1px;
            overflow: hidden;
        }
    }
</style>
