---
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";
import nav from "@data/nav.json";
import SiteNavigationItem from "./SiteNavigationItem.astro";

const allPages = await getCollection("pages");
const navPages = nav.nav
    .map((slug) => allPages.find((page) => page.id === slug))
    .filter((page): page is NonNullable<typeof page> => Boolean(page));
---

<div class="site-head wrapper apart">
    <a href="/" aria-label="crossinguard.dev home" class="brand-link group">
        <Icon class="brand-logo" name="crystal" />
        <span class="brand-text">crossinguard.dev</span>
    </a>
    <nav aria-label="primary">
        <ul role="list" class="group nav-list">
            {
                navPages.map((page) => (
                    <li>
                        <SiteNavigationItem
                            link={`/${page.id}`}
                            label={page.data.title}
                        />
                    </li>
                ))
            }
        </ul>
    </nav>
</div>
<style>
    .brand-link {
        --group-gap: var(--space-2xs);
        font-family: var(--font-family-accent);
        text-decoration: none;
        .brand-text {
            font-size: var(--size-1);
            text-shadow: 1px 1px 2px var(--color-dark);
            position: relative;
            transition: color 0.15s ease-in-out;
            padding-block-end: 2px;

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 3px;
                background: var(--color-primary-shade);
                transition: background 0.15s ease-in-out;
            }
        }
        &:hover .brand-text {
            color: var(--color-secondary);

            &::after {
                background: var(--color-pop);
            }
        }
        .brand-logo {
            font-size: 3em;
        }
    }

    .nav-list {
        margin: 0;
        padding: 0;
        list-style: none;
    }
</style>
