---
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";
import SiteNavigationItem from "./SiteNavigationItem.astro";

const { pathname } = Astro.url;
const allPages = await getCollection("pages");
const navPages = allPages
    .filter((page) => page.data.showInNav !== false)
    .sort((a, b) => (a.data.navOrder || 999) - (b.data.navOrder || 999));
---

<div class="site-head wrapper repel">
    <a
        href="/"
        aria-label="crossinguard.dev home"
        class="site-head__brand cluster"
    >
        <Icon class="logo" name="crystal" />
        crossinguard.dev
    </a>
    <nav aria-label="primary">
        <ul role="list" class="cluster nav__list">
            {
                navPages.map((page) => (
                    <SiteNavigationItem
                        link={`/${page.id}`}
                        label={page.data.title}
                    />
                ))
            }
        </ul>
    </nav>
</div>
<style>
    @container (max-width: 650px) {
        .site-head > * {
            margin-inline: auto;
        }
    }

    .site-head {
        container-type: inline-size;
    }

    .site-head__brand {
        --gutter: var(--space-2xs);
        font-family: var(--font-family-accent);
        text-shadow: 1px 1px 2px var(--color-dark);
        text-decoration: none;
        transition: color 0.2s ease;

        &:hover {
            color: var(--color-secondary);
            text-decoration: underline;
            text-decoration-color: var(--color-pop);
            text-decoration-thickness: 0.15rem;
            text-underline-offset: 0.5rem;
        }

        .logo {
            font-size: 2em;
        }
    }

    .nav__list {
        padding: 0;
    }
</style>
