---
import { Icon } from "astro-icon/components";

const currentYear = new Date().getFullYear();
---

<footer>
    <p>W. Brett Egbert &copy; {currentYear}</p>
    <p><em>stay curious</em></p>
    <ul class="social cluster">
        <li>
            <a
                href="mailto:brett@crossinguard.dev"
                target="_blank"
                rel="noopener noreferrer"
                class="social__link"
            >
                <Icon class="social__icon" name="envelope" />
                Email
            </a>
        </li>
        <li>
            <a
                href="https://codeberg.org/crossinguard"
                target="_blank"
                rel="noopener noreferrer"
                class="social__link"
            >
                <Icon class="social__icon" name="codeberg" />
                Codeberg
            </a>
        </li>
    </ul>
</footer>

<style>
    footer {
        padding-block: var(--space-xl);
        background: var(--color-primary-shade);
        color: var(--color-light);
        font-family: monospace;
        font-size: var(--step--1);
        font-weight: 400;
        box-shadow:
            0 -0.25rem var(--color-primary),
            0 -0.5rem var(--color-secondary),
            0 -0.75rem var(--color-tertiary);
        text-align: center;
    }

    .social {
        --cluster-horizontal-alignment: center;
        padding-inline: 0;
    }

    .social li {
        list-style: none;
    }

    .social__link {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
            text-decoration-color: var(--color-secondary);
            text-decoration-thickness: 3px;
            text-underline-offset: 3px;
            font-weight: 700;

            .social__icon {
                color: var(--color-secondary);
            }
        }
    }

    .social__icon {
        margin-inline: auto;
    }
</style>
